* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "NanumBarunGothic", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

body {
  margin-top: 80px;
}
